name: Daily Update

on:
  schedule:
    # JST 02:07
    - cron: "7 17 * * *"
  workflow_dispatch:
    inputs:
      run_gwv:
        description: 'Run GWV update'
        type: boolean
        default: true
      run_gw_duplicates:
        description: 'Run gw_duplicates update'
        type: boolean
        default: true
      run_gwtegaki:
        description: 'Run gwtegaki update'
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  download-dump:
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    timeout-minutes: 10
    steps:
      - name: Download dump
        run: |
          curl https://glyphwiki.org/dump.tar.gz | tar -xzf - dump_newest_only.txt
          # Ensure the file is not empty
          if [ ! -s dump_newest_only.txt ]; then
            echo "error: dump_newest_only.txt is empty!"
            exit 1
          fi
          # Use tar to preserve file timestamps
          tar -cf dump.tar dump_newest_only.txt
      - id: upload-artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dump
          path: dump.tar

  run-gwv:
    needs: download-dump
    if: ${{ github.event_name == 'schedule' || inputs.run_gwv == true }}
    uses: ./.github/workflows/run-gwv.yaml
    with:
      dump-artifact-id: ${{ needs.download-dump.outputs.artifact-id }}
  upload-gwv-result:
    needs: run-gwv
    runs-on: ubuntu-latest
    environment: upload-to-gist
    timeout-minutes: 10
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ needs.run-gwv.outputs.result-artifact-id }}
          merge-multiple: true
      - name: Upload to Gist
        env:
          GH_TOKEN: ${{ secrets.GIST_PAT }}
          GIST_ID_GWV: cef8cd1cc8de3484739839816a165e20
        run: |
          gh api \
            --method PATCH \
            --header "Accept: application/vnd.github+json" \
            --header "X-GitHub-Api-Version: 2022-11-28" \
            --silent \
            "/gists/$GIST_ID_GWV" \
            --field "files[gwv_result.json][content]=@gwv_result.json"

  run-gw_duplicates:
    needs: download-dump
    if: ${{ github.event_name == 'schedule' || inputs.run_gw_duplicates == true }}
    uses: ./.github/workflows/run-gw_duplicates.yaml
    with:
      dump-artifact-id: ${{ needs.download-dump.outputs.artifact-id }}
  upload-gw-duplicates-result:
    needs: run-gw_duplicates
    runs-on: ubuntu-latest
    environment: upload-to-gist
    timeout-minutes: 10
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ needs.run-gw_duplicates.outputs.result-artifact-id }}
          merge-multiple: true
      - name: Upload to Gist
        env:
          GH_TOKEN: ${{ secrets.GIST_PAT }}
          GIST_ID_GW_DUPLICATES: cc8ec3b2d9a1cc63b39c8663328edfc6
        run: |
          gh api \
            --method PATCH \
            --header "Accept: application/vnd.github+json" \
            --header "X-GitHub-Api-Version: 2022-11-28" \
            --silent \
            "/gists/$GIST_ID_GW_DUPLICATES" \
            --field "files[duplicates.json][content]=@duplicates.json"

  run-gwtegaki:
    needs: download-dump
    if: ${{ github.event_name == 'schedule' || inputs.run_gwtegaki == true }}
    uses: ./.github/workflows/run-gwtegaki.yaml
    with:
      dump-artifact-id: ${{ needs.download-dump.outputs.artifact-id }}
  upload-gwtegaki-result:
    needs: run-gwtegaki
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: upload-to-gcs
    timeout-minutes: 10
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ needs.run-gwtegaki.outputs.result-artifact-id }}
          merge-multiple: true
          path: hnsw
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ku6goma
          workload_identity_provider: projects/482600618026/locations/global/workloadIdentityPools/github-actions/providers/gwdaily
      - name: Upload to GCS
        uses: google-github-actions/upload-cloud-storage@6397bd7208e18d13ba2619ee21b9873edc94427a # v3.0.0
        with:
          path: hnsw
          destination: ${{ secrets.GCS_BUCKET_NAME_GWTEGAKI }}
          gzip: false
          process_gcloudignore: false
