name: Run GWV

on:
  workflow_call:
    inputs:
      dump-artifact-id:
        required: true
        type: string
        description: The artifact ID of the dump to process.
    outputs:
      result-artifact-id:
        description: The ID of the artifact containing the GWV result.
        value: ${{ jobs.run-gwv.outputs.upload-artifact-id }}

permissions:
  contents: read

jobs:
  run-gwv:
    runs-on: ubuntu-latest
    outputs:
      upload-artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    timeout-minutes: 10
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ inputs.dump-artifact-id }}
          merge-multiple: true
      - name: Untar Dump
        run: |
          mkdir dump
          tar -xf dump.tar -C dump
          ls -l dump
          rm dump.tar
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: pypy3.10
      - name: Get GWV Version
        run: |
          GIT_REMOTE=https://github.com/kurgm/gwv.git
          LATEST_SHA=$(git ls-remote "$GIT_REMOTE" HEAD | awk '{print $1}')
          echo "gwv @ git+${GIT_REMOTE}@${LATEST_SHA}" > requirements.txt
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-pip-gwv-${{ hashFiles('**/requirements.txt') }}
      - name: Install Dependencies
        run: |
          python -m venv .venv
          . .venv/bin/activate
          python -m pip install -r requirements.txt
      - name: Run GWV
        run: |
          . .venv/bin/activate
          gwv --ignore-error --out gwv_result_pre.json dump/dump_newest_only.txt
      - name: Transform Output
        run: |
          jq --compact-output '{
            result: with_entries(.value = .value.result),
            lastModified: to_entries[0].value.timestamp,
          }' gwv_result_pre.json > gwv_result.json
      - id: upload-artifact
        name: Upload Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: gwv_result
          path: gwv_result.json
