name: Run gwtegaki

on:
  workflow_call:
    inputs:
      dump-artifact-id:
        required: true
        type: string
        description: The artifact ID of the dump to process.
    outputs:
      result-artifact-id:
        description: The ID of the artifact containing the gwtegaki result.
        value: ${{ jobs.run-gwtegaki.outputs.upload-artifact-id }}

permissions:
  contents: read

jobs:
  run-gwtegaki:
    runs-on: ubuntu-latest
    outputs:
      upload-artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    timeout-minutes: 15
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ inputs.dump-artifact-id }}
          merge-multiple: true
      - name: Untar Dump
        run: |
          mkdir dump
          tar -xf dump.tar -C dump
          ls -l dump
          rm dump.tar
      - name: Checkout gwtegaki
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: kurgm/gwtegaki
          ref: master
          path: gwtegaki
      - id: get-gwtegaki-commit
        name: Get gwtegaki Commit
        run: |
          cd gwtegaki
          echo "commit=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: gwtegaki/.node-version
          cache: npm
          cache-dependency-path: gwtegaki/package-lock.json
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            gwtegaki/target
          key: ${{ runner.os }}-cargo-gwtegaki-${{ steps.get-gwtegaki-commit.outputs.commit }}
      - name: Check Rust Version
        run: |
          rustc --version
          cargo --version
      - name: Install npm dependencies
        run: |
          cd gwtegaki
          npm ci
      - name: Run gwtegaki
        run: |
          cd gwtegaki/build_index
          ln -s ../../dump/dump_newest_only.txt dump_newest_only.txt
          make
      - id: upload-artifact
        name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: gwtegaki_result
          path: gwtegaki/build_index/dataset/
