name: Run gw_duplicates

on:
  workflow_call:
    inputs:
      dump-artifact-id:
        required: true
        type: string
        description: The artifact ID of the dump to process.
    outputs:
      result-artifact-id:
        description: The ID of the artifact containing the gw_duplicates result.
        value: ${{ jobs.run-gw_duplicates.outputs.upload-artifact-id }}

permissions:
  contents: read

jobs:
  run-gw_duplicates:
    runs-on: ubuntu-latest
    outputs:
      upload-artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    timeout-minutes: 10
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ inputs.dump-artifact-id }}
          merge-multiple: true
      - name: Untar Dump
        run: |
          mkdir dump
          tar -xf dump.tar -C dump
          ls -l dump
          rm dump.tar
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: pypy3.10
      - name: Checkout gw_duplicates
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: kurgm/gw_duplicates
          ref: master
          path: gw_duplicates
      - name: Run gw_duplicates
        run: |
          python ./gw_duplicates/listup_duplicates.py --out_path duplicates.json dump/dump_newest_only.txt
      - id: upload-artifact
        name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: gw_duplicates_result
          path: duplicates.json
