name: Run gwtegaki

on:
  workflow_call:
    inputs:
      dump-artifact-id:
        required: true
        type: string
        description: The artifact ID of the dump to process.
    outputs:
      result-artifact-id:
        description: The ID of the artifact containing the gwtegaki result.
        value: ${{ jobs.run-gwtegaki.outputs.upload-artifact-id }}

permissions:
  contents: read

jobs:
  run-gwtegaki:
    runs-on: ubuntu-latest
    outputs:
      upload-artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    timeout-minutes: 15
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ inputs.dump-artifact-id }}
          merge-multiple: true
      - name: Untar Dump
        run: |
          mkdir dump
          tar -xf dump.tar -C dump
          ls -l dump
          rm dump.tar
      - name: Checkout gwtegaki
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: kurgm/gwtegaki
          ref: master
          path: gwtegaki
      - id: get-gwtegaki-commit
        name: Get gwtegaki Commit
        run: |
          cd gwtegaki
          echo "commit=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: gwtegaki/.node-version
          cache: npm
          cache-dependency-path: gwtegaki/package-lock.json
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            gwtegaki/target
          key: ${{ runner.os }}-cargo-gwtegaki-${{ steps.get-gwtegaki-commit.outputs.commit }}
      - name: Check Rust Version
        run: |
          rustc --version
          cargo --version
      - name: Install npm dependencies
        run: |
          cd gwtegaki
          npm ci
      - name: Run gwtegaki
        run: |
          cd gwtegaki/build_index
          ln -s ../../dump/dump_newest_only.txt dump_newest_only.txt
          make
      - id: upload-artifact
        name: Upload Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: gwtegaki_result
          path: gwtegaki/build_index/dataset/
